.venv
.env
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.ruff_cache
jobs.db
.prefect

scripts/
samples/

.python-version
.gitignore
Dockerfile
.dockerignore
.gemini/
.agents/

*.md
!src/prompts/*.md
